<!DOCTYPE html> 
<html lang="en"> 
	<head> 
	    <meta charset="UTF-8"> 
	    <title>Diabetic Retinopathy Detection</title> 
		<style>
			body {
				background-color: #222222;
				color:orange;
			}
			h1 {
				color:#ff6600;
			}
		</style>
	</head>

	<body> 

		<h1>Diabetic Retinopathy Detection</h1>
		<hr>

	    <!--<button id='upload'>Upload</button>-->
		<h2>Upload the Retina image</h2>
	    <form method = "post" enctype="multipart/form-data"> 
	        {% csrf_token %} 
	        {{ form.as_p }} 
	        <button type="submit" id="upload">Upload</button> 
	    </form>
	    <hr>

	</body> 
</html> 